{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% include "needful/upper_popup.html" %}

<div class="wrapper_first yurist__wrapper_first">
	<div id="dark_background"></div>

	<div class="center_block">
			<div class="slider">
				<!-- <input type="radio" name="slide" id="s1">
				<input type="radio" name="slide" id="s2">   
				<input type="radio" name="slide" id="s3"> -->                     
				
				<div id="slider_to_left" class="nav_main_slider"></div>
			<div id="slider_to_right" class="nav_main_slider"></div>

				<div class="slider_line">
					<section class="slider_element first_slide">
						<div class="header_block">
							<h1>
								<span class="invisible"></span>
								Юридические услуги
							</h1>
						</div>

						<div class="text">
							<p>
								Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Инициал семь снова грустный за выйти, свой эта подзаголовок по всей жизни домах деревни диких что? Он свою, буквенных ipsum образ.
							</p>
						</div>

						<div class="button_sub_text">
							<a href="https://vk.com/" target="_blank" title="Сообщество ВКонтакте">
								Наше сообщество ВК
							</a>								
						</div>
					</section>

					<section class="slider_element">
						<div class="header_block">
							<h1>
								<span class="invisible"></span>
								Юридические услуги
							</h1>
						</div>

						<div class="text">
							<p>
								Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Сих прямо ты себя, предупредила, возвращайся которой его страну рекламных. Страна последний своих снова, первую строчка, города ручеек если грамматики осталось коварных, мир парадигматическая заглавных!
							</p>
						</div>
					</section>
				</div>
			</div>
		<div class="slider_navigation">
			<label for="s1" class="nav_bar" id="first_button_bar"></label>
			<label for="s2" class="nav_bar" id="second_button_bar"></label>
			<!--<label for="s3" class="nav_bar" id="third_button_bar"></label>-->
		</div>
	</div>				
</div>

<div class="all_second_block">
	<div class="container_info__all">
		<div class="text_info__all">
			<h3>
				<span class="invisible"></span>
				Вы можете на нас положиться.
			</h3>

			<p>Далеко-далеко, за словесными горами в стране гласных, и согласных живут рыбные тексты. Образ эта семь залетают текстами гор мир, толку, имеет. От всех безорфографичный она бросил прямо однажды, выйти до, толку лучше все ipsum решила. Продолжил вопроса языкового однажды буквоград, знаках жизни коварных, вопрос, жаренные не курсивных подпоясал.</p>
		</div>

		<div class="images_info__all">
			<div class="first_images_block">
				<img src="{{ url_for('static', filename='img/yurist_2.jpg') }}" alt="" class="image_info__all">
				<img src="{{ url_for('static', filename='img/yurist_3.jpg') }}" alt="" class="image_info__all">
			</div>

			<div class="second_images_block">
				<img src="{{ url_for('static', filename='img/yurist_4.jpg') }}" alt="" class="image_info__all">
				<img src="{{ url_for('static', filename='img/yurist_5.jpg') }}" alt="" class="image_info__all">
			</div>
		</div>
	</div>
</div>

<div class="yurist__wrapper_third">
	<div class="container_message">
		<h2>Вы нуждаетесь в помощи юриста?</h2>

		<p>Заполните анкету абсолютно бесплатно! Мы проверим её в ближайшее время.</p>
	
		<!--<a href="{{ url_for('yurist_team')}}" target="_blank">Обратиться бесплатно</a>-->
		<a href="#scroll_here_feedback">Заполнить анкету</a>
	</div>
</div>

<div class="yurist__wrapper_reviews">

	<div class="title_reviews">
		<h2>Что говорят клиенты?</h2>
	</div>

	<div class="slider_reviews">
		<div class="container_reviews">
			<div class="line_reviews">
				<div class="review">
					<div class="image_review">
						<img src="{{ url_for('static', filename='img/admin.png') }}" alt="">
					</div>

					<div class="text_review">
						<p>
							В своём стремлении улучшить пользовательский опыт мы упускаем, что реплицированные с зарубежных источников, современные исследования в равной степени предоставлены сами себе. Прежде всего, высокое качество позиционных исследований прекрасно подходит для реализации глубокомысленных рассуждений.
							<span>Иван Иванов (Директор компании SSD)</span>
						</p>
					</div>
				</div>
				
				<div class="review">
					<div class="image_review">
						<img src="{{ url_for('static', filename='img/admin.png') }}" alt="">
					</div>

					<div class="text_review">
						<p>
							Кстати, сторонники тоталитаризма в науке могут быть ассоциативно распределены по отраслям. Предварительные выводы неутешительны: консультация с широким активом предопределяет высокую востребованность существующих финансовых и административных условий. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: повышение уровня гражданского сознания предопределяет высокую востребованность.
							<span>Иван Иванов (Директор компании SSD)</span>
						</p>		
					</div>
				</div>

				<div class="review">
					<div class="image_review">
						<img src="{{ url_for('static', filename='img/admin.png') }}" alt="">
					</div>

					<div class="text_review">
						<p>
							Равным образом, курс на социально-ориентированный национальный проект создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса экспериментов, поражающих по своей масштабности и грандиозности. В своём стремлении повысить качество жизни, они забывают, что экономическая повестка сегодняшнего дня создаёт предпосылки для направлений прогрессивного развития. Мы вынуждены отталкиваться от этого.
							<span>Иван Иванов (Директор компании SSD)</span>
						</p>					
					</div>
				</div>

				<div class="review">
					<div class="image_review">
						<img src="{{ url_for('static', filename='img/admin.png') }}" alt="">
					</div>

					<div class="text_review">
						<p>
							Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации экономической целесообразности принимаемых решений! Также как базовый вектор развития говорит о возможностях позиций, занимаемых участниками в отношении поставленных задач. Как принято считать, интерактивные прототипы объединены в целые кластеры себе подобных.
							<span>Иван Иванов (Директор компании SSD)</span>
						</p>		
					</div>
				</div>

				<div class="review">
					<div class="image_review">
						<img src="{{ url_for('static', filename='img/admin.png') }}" alt="">
					</div>

					<div class="text_review">
						<p>
							Вот вам яркий пример современных тенденций — убеждённость некоторых оппонентов позволяет выполнить важные задания по разработке кластеризации усилий. С другой стороны, дальнейшее развитие различных форм деятельности обеспечивает актуальность инновационных методов управления процессами. В рамках спецификации современных стандартов.
							<span>Иван Иванов (Директор компании SSD)</span>
						</p>

					</div>
				</div>

				<div class="review">
					<div class="image_review">
						<img src="{{ url_for('static', filename='img/admin.png') }}" alt="">
					</div>

					<div class="text_review">
						<p>
							Есть над чем задуматься: интерактивные прототипы, превозмогая сложившуюся непростую экономическую ситуацию, обнародованы. Идейные соображения высшего порядка, а также высокотехнологичная концепция общественного уклада требует анализа экспериментов, поражающих по своей масштабности и грандиозности. Есть над чем задуматься: ключевые особенности структуры проекта, превозмогая сложившуюся непростую экономическую ситуацию, смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.
							<span>Иван Иванов (Директор компании SSD)</span>
						</p>
					</div>
				</div>

				<div class="review">
					<div class="image_review">
						<img src="{{ url_for('static', filename='img/admin.png') }}" alt="">
					</div>

					<div class="text_review">
						<p>
							Ясность нашей позиции очевидна: внедрение современных методик предполагает независимые способы реализации новых принципов формирования материально-технической и кадровой базы. Предварительные выводы неутешительны: укрепление и развитие внутренней структуры выявляет срочную потребность дальнейших направлений развития. Учитывая ключевые сценарии поведения, новая модель организационной деятельности прекрасно подходит для реализации новых принципов формирования материально-технической и кадровой базы.
							<span>Иван Иванов (Директор компании SSD)</span>
						</p>
					</div>
				</div>

				<div class="review">
					<div class="image_review">
						<img src="{{ url_for('static', filename='img/admin.png') }}" alt="">
					</div>

					<div class="text_review">
						<p>
							Предварительные выводы неутешительны: синтетическое тестирование однозначно фиксирует необходимость укрепления моральных ценностей. Разнообразный и богатый опыт говорит нам, что граница обучения кадров выявляет срочную потребность форм воздействия. В своём стремлении улучшить пользовательский опыт мы упускаем, что акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, указаны как претенденты на роль ключевых факторов.
							<span>Иван Иванов (Директор компании SSD)</span>
						</p>
					</div>
				</div>

				<div class="review">
					<div class="image_review">
						<img src="{{ url_for('static', filename='img/admin.png') }}" alt="">
					</div>

					<div class="text_review">
						<p>
							Равным образом, синтетическое тестирование создаёт предпосылки для прогресса профессионального сообщества. В рамках спецификации современных стандартов, независимые государства освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, описаны максимально подробно. Внезапно, акционеры крупнейших компаний, инициированные исключительно синтетически, указаны как претенденты на роль ключевых факторов.
							<span>Иван Иванов (Директор компании SSD)</span>
						</p>
					</div>
				</div>

				<div class="review">
					<div class="image_review">
						<img src="{{ url_for('static', filename='img/admin.png') }}" alt="">
					</div>

					<div class="text_review">
						<p>
							Но сторонники тоталитаризма в науке указаны как претенденты на роль ключевых факторов. Наше дело не так однозначно, как может показаться: глубокий уровень погружения напрямую зависит от модели развития. Внезапно, стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть функционально разнесены на независимые элементы.
							<span>Иван Иванов (Директор компании SSD)</span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div id="nav_reviews">
			<i id="nav_rev_1" class="nav_rev"></i>
			<i id="nav_rev_2" class="nav_rev"></i>
			<i id="nav_rev_3" class="nav_rev"></i>
			<i id="nav_rev_4" class="nav_rev"></i>
			<i id="nav_rev_5" class="nav_rev"></i>
			<i id="nav_rev_6" class="nav_rev"></i>
			<i id="nav_rev_7" class="nav_rev"></i>
			<i id="nav_rev_8" class="nav_rev"></i>
			<i id="nav_rev_9" class="nav_rev"></i>
			<i id="nav_rev_10" class="nav_rev"></i>
		</div>

		<div id="left_reviews_btn" class="reviews_slider_btn">❬</div>
		<div id="right_reviews_btn" class="reviews_slider_btn">❭</div>
	</div>
</div>

<!--<div class="yurist__wrapper_fourth">
	<div id="text_yurist_wrapper_fourth">
		<h2>Нас рекомендует более 10000 человек</h2>
	</div>

	<section class="feedback">
		<a href="https://vk.com/id231494229" target="_blank" class="feedback_block">
			<div class="name_client">
				<div class="foto__client">
					<img src="{{ url_for('static', filename='img/human_1.jpg') }}" alt="Иван Ургант">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="{{ url_for('static', filename='img/vk_2.png') }}" alt="" class="client__contact">
						Иван Ургант
						<span>04.02.2020</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Экспертами, работающими на базе Молодёжного Центра "Маяк", была оказана хорошая помощь, связанная с моим личным бизнесом, который был на грани от провала. Благодарю вас ещё раз. Большое человеческое спасибо!</p>
			</div>
		</a>

		<a href="https://vk.com/galustyanrf" target="_blank" class="feedback_block">
			<div class="name_client">
				<div class="foto__client">
					<img src="../img/human_2.jpg" alt="Ваша Фотография">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/vk_2.png" alt="" class="client__contact">
						Михаил Галустян
						<span>04.02.2020</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Были плохие отношения с начальником на одном строительном предприятии. Задержки выплат и несправедливое условие труда. Обратился к юристам из "Маяка". Очень сильно помогли мне дельным советом. Большое Вам спасибо!</p>
			</div>
		</a>

		<a href="https://vk.com/nagiev.universal" target="_blank" class="feedback_block">
			<div class="name_client">
				<div class="foto__client">
					<img src="../img/human_3.jpg" alt="Ваша фотография">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/vk_2.png" alt="" class="client__contact">
						Дмитрий Нагиев
						<span>04.02.2020</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Бизнес по продаже мячиков был почти обанкрочен, юристы из "Маяка" очень помогли нам! Спасибо!</p>
			</div>
		</a>

		<a href="https://vk.com/sasha.petrov" target="_blank" class="feedback_block">
							<div class="name_client">
				<div class="foto__client">
					<img src="../img/human_4.jpg" alt="Ваша фотография">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/vk_2.png" alt="" class="client__contact">
						Александр Петров
						<span>04.02.2020</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Юристы из "Маяка" помогли выйти из, казалось бы, безвыходной ситуации. Я вас очень сильно благодарю за проделанную работу.</p>
			</div>
		</a>

		<a href="https://vk.com/id231494229" target="_blank" class="feedback_block">
			<div class="name_client">
				<div class="foto__client">
					<img src="../img/human_1.jpg" alt="Иван Ургант">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/vk_2.png" alt="" class="client__contact">
						Иван Ургант
						<span>04.02.2020</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Экспертами, работающими на базе Молодёжного Центра "Маяк", была оказана хорошая помощь, связанная с моим личным бизнесом, который был на грани от провала. Благодарю вас ещё раз. Большое человеческое спасибо!</p>
			</div>
		</a>

		<a href="https://vk.com/galustyanrf" target="_blank" class="feedback_block">
							<div class="name_client">
				<div class="foto__client">
					<img src="../img/human_2.jpg" alt="Ваша Фотография">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/vk_2.png" alt="" class="client__contact">
						Михаил Галустян
						<span>04.02.2020</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Были плохие отношения с начальником на одном строительном предприятии. Задержки выплат и несправедливое условие труда. Обратился к юристам из "Маяка". Очень сильно помогли мне дельным советом. Большое Вам спасибо!</p>
			</div>
		</a>
		
		<a href="https://vk.com/nagiev.universal" target="_blank" class="feedback_block">
			<div class="name_client">
				<div class="foto__client">
					<img src="../img/human_3.jpg" alt="Ваша фотография">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/ok.png" alt="" class="client__contact">
						Дмитрий Нагиев
						<span>04.02.2020</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Бизнес по продаже мячиков был почти обанкрочен, юристы из "Маяка" очень помогли нам! Спасибо!</p>
			</div>
		</a>

		<a href="https://vk.com/sasha.petrov" target="_blank" class="feedback_block">
			<div class="name_client">
				<div class="foto__client">
					<img src="../img/human_4.jpg" alt="Ваша фотография">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/ok.png" alt="" class="client__contact">
						Александр Петров
						<span>04.02.2020</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Юристы из "Маяка" помогли выйти из, казалось бы, безвыходной ситуации. Я вас очень сильно благодарю за проделанную работу.</p>
			</div>
		</a>

		<a href="https://vk.com/id231494229" target="_blank" class="feedback_block">
			<div class="name_client">
				<div class="foto__client">
					<img src="../img/human_1.jpg" alt="Иван Ургант">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/vk_2.png" alt="" class="client__contact">
						Иван Ургант
						<span>04.02.2020</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Экспертами, работающими на базе Молодёжного Центра "Маяк", была оказана хорошая помощь, связанная с моим личным бизнесом, который был на грани от провала. Благодарю вас ещё раз. Большое человеческое спасибо!</p>
			</div>
		</a>

		<a href="https://vk.com/galustyanrf" target="_blank" class="feedback_block">
			<div class="name_client">
				<div class="foto__client">
					<img src="../img/human_2.jpg" alt="Ваша Фотография">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/vk_2.png" alt="" class="client__contact">
						Михаил Галустян
						<span>04.02.2020</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Были плохие отношения с начальником на одном строительном предприятии. Задержки выплат и несправедливое условие труда. Обратился к юристам из "Маяка". Очень сильно помогли мне дельным советом. Большое Вам спасибо!</p>
			</div>
		</a>
		
		<a href="https://vk.com/nagiev.universal" target="_blank" class="feedback_block">
							<div class="name_client">
				<div class="foto__client">
					<img src="../img/human_3.jpg" alt="Ваша фотография">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/vk_2.png" alt="" class="client__contact">
						Дмитрий Нагиев
						<span>04.02.2020</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Бизнес по продаже мячиков был почти обанкрочен, юристы из "Маяка" очень помогли нам! Спасибо!</p>
			</div>
		</a>

		<a href="https://vk.com/sasha.petrov" target="_blank" class="feedback_block">
							<div class="name_client">
				<div class="foto__client">
					<img src="../img/human_4.jpg" alt="Ваша фотография">
				</div>
				
				<div class="name_link__client">
					<p>
						<img src="../img/ok.png" alt="" class="client__contact">
						Александр Петров
						<span>04.02.2020</span>
					</p>
				</div>
			</div>

			<div class="text_client">
				<p>Юристы из "Маяка" помогли выйти из, казалось бы, безвыходной ситуации. Я вас очень сильно благодарю за проделанную работу.</p>
			</div>
		</a>
	</section>

<div id="yurist_more__button">
		<button>
			<a href="{{ url_for('yurist_feedback') }}">Посмотреть все отзывы</a>
		</button>
	</div>
</div>-->

<div class="wrapper_services yurist_services">
	<div class="container">
		<div class="about_services">
			<h2>Мы оказываем следующие услуги:</h2>
		</div>

		<div class="titles_prices_services">
			<ul>
				<li>
					<p>Консультация юриста</p>
					<p>300 руб. <b>(до 1 часа)</b></p>
				</li>
				<li>
					<p>Услуги по регистрации Юридического лица</p>
					<p>2000 руб. <b>(1 регистрация)</b></p>
				</li>
				<li>
					<p>Услуги по регистрации Индивидуального предпринимателя</p>
					<p>600 руб. <b>(1 регистрация)</b></p>
				</li>
				<li>
					<p>Внесение изменений в Уставные документы Юридического лица и в ЕГРЮЛ</p>
					<p>1500 руб. <b>(1 изменение)</b></p>
				</li>
				<li>
					<p>Подготовка Юридических документов</p>
					<p>1500 руб. <b>(1 документ)</b></p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="feedback_block">
	<div class="container">
		<div class="title_feedback">
			<h2 id="scroll_here_feedback">Оставьте свою заявку прямо сейчас!</h2>
		</div>

		<div class="form_contact_here">	
			{% include "needful/feedback_form.html" %}
		</div>
	</div>
</div>

<script>
	let ClosePopup = document.querySelector("#close_upper_popup");
	let UpperPopup = document.querySelector(".upper_popup");
	let UnderstandBtn = document.querySelector("#understand_popup");

	ClosePopup.onclick = function() {
		UpperPopup.style.top = -9999 + "px";
		UpperPopup.style.opacity = "0";
	}

	UnderstandBtn.onclick = function() {
		UpperPopup.style.top = -9999 + "px";
		UpperPopup.style.opacity = "0";
	}
</script>
{% endblock %}